<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">PyQMT量化交易系统</a>
        
        <div class="navbar-nav ms-auto">
            {% if user %}
                <span class="navbar-text me-3">欢迎, {{ user }}!</span>
                <a class="btn btn-outline-light" href="/logout" role="button">退出</a>
            {% else %}
                <a class="btn btn-outline-light" href="/login" role="button">登录</a>
            {% endif %}
        </div>
    </div>
</nav>
